.product-slider { 
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.product-slider #thumbcarousel { 
  margin: 1.2rem 0 0; 
}

.product-slider .clearfix .carousel .carousel-inner .item {
  display: flex;
}
.thumb { 
  width: 25%;
  margin: 0 .2rem; 
  cursor: pointer; 
  
}

.product-slider .item img { 
  width: 100%; 
  height: auto; }

.carousel-control { 
  color: #0284b8; 
  text-align: center; 
  text-shadow: none; 
  font-size: 30px; 
  width: 30px; 
  height: 30px; 
  line-height: 20px; 
  top: 23%; }

.carousel-control:hover, 
.carousel-control:focus, 
.carousel-control:active { 
  color: #333; 
}

.carousel-caption, 
.carousel-control 
.fa { 
  font: normal normal normal 30px/26px FontAwesome; 
}
.carousel-control { 
  background-color: rgba(0, 0, 0, 0); 
  bottom: auto; 
  font-size: 20px; 
  left: 0; 
  position: absolute; 
  top: 30%; 
  width: auto; 
}

.carousel-control.right, 
.carousel-control.left { 
  background-color: rgba(0, 0, 0, 0); 
  background-image: none; 
}


// // __Slider del testimonial__

// .testimonials {
//   overflow: hidden;
//   position: relative;
//   max-height: 400rem;
//   width: 600px;
// }

// .testimonials {
//   background: #161d25;
// }

// .one-slide,
// .testimonial,
// .message {
//   border: none !important;
//   outline: none !important;
// }

// .icon-overlay {
//   position: absolute;
//   opacity: 0.3;
//   right: 10%;
//   top: 0;
//   height: auto;
//   width: 100%;
//   max-width: 400px;
// }

// .carousel-controls .control {
//   position: absolute;
//   transform: translateY(-50%);
//   width: 45px;
//   height: 45px;
//   border-radius: 50%;
//   border: 2px solid #fff;
//   z-index: 1;
// }

// .prev {
//   left: -2.25rem;
// }

// .next {
//   right: -2.25rem;
// }

// @media screen and (max-width: 768px) {
//   .testimonials {
//     max-height: 700px;
//   }

//   .icon-overlay {
//     height: 300px;
//     top: calc(50% - 150px);
//   }

//   .carousel-controls .control {
//     width: 25px;
//     height: 25px;
//     top: inherit;
//   }

//   .prev {
//     left: 0;
//   }

//   .next {
//     right: 0;
//   }

//   .control i {
//     font-size: 0.7rem;
//   }

//   .testimonials .message {
//     font-size: 1rem;
//   }

//   .testimonials h2 {
//     font-size: 1.5rem;
//   }
// }


